@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,500;1,600&display=swap');
:root {
    --font-color: #000000;
    --link-color: #ffd200;
    --link-shadow-color: #000000;
    --background-color: #e5e5e5;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    color: var(--font-color);
}

#main_content {
    margin: 2em 8em;
    padding: 6em;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-weight: 600;
    color: #14213d;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    text-align: center;
}

h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover,
a:focus {
    color: var(--link-color);
    text-shadow: 2px 2px var(--link-shadow-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: left;
    padding: 5px;
}